body,
html {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

ul li {
	list-style-type: none;
}
/* 修改开关按钮 */
.el-switch__core{
	height:8px!important;
}
.el-switch__core:after{
	top:-5px!important;
}
/* add icon */
@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1663232785136') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-ditu1:before {
  content: "\f004e";
}
.icon-icon-line-graph:before {
  content: "\e662";
}
.icon-ditu:before {
  content: "\e602";
}
.icon-xingzhuang-tuoyuanxing:before {
  content: "\eb99";
}
.icon-home:before {
  content: "\e7c6";
}
.icon-dian:before {
  content: "\ec1e";
}
.icon-jiahao:before {
  content: "\eaf3";
}
.icon-jianhao:before {
  content: "\eaf5";
}
.icon-24gl-square:before {
  content: "\ea98";
}
.icon-yanjing:before {
  content: "\e8c7";
}
.icon-duobianxing:before {
  content: "\ed98";
}
.icon-zhibeizhen:before {
  content: "\edfd";
}
/* 登录页 */
.elInput .el-input__inner{
	border:1px solid #136387!important;
	background-color:#0f3543;
	color: #fff;
}
.elBtn .el-button{
	width:100%;
	 background-image: linear-gradient( #22dcfd, #5865b9);
	 border:0px;
	 font-size: 16px;
	 font-weight: bold;
	 text-shadow: 1px 1px 3px #000;
}

/* 内容部分 */
.mainCon{
	position: absolute;
	top:60px;
	left:0;
	padding: 20px;
	background-color: #f3f6fb;
	width: 100vw;
	height: calc(100vh - 60px);
}

/* 公用部分 */
.btnRight{
	text-align: right;
	margin-top: 20px;
}
.juzhong{
	text-align: center;
}
/* 分页 */
.fenye{
	text-align: center;
	margin-top: 20px;
}
/* 数据管理 */
.data-left-list ul{
	padding: 0px!important;	
}
.data-left-list ul.el-menu{
	background-color: transparent;
	border:0px;
}
.data-left-list .el-menu-item,.data-left-list .el-submenu__title{
	color: #fff;
}
/* 修改鼠标悬停及点击菜单样式 */
.data-left-list .el-menu-item:hover{
	background-color: #105676;
}
.data-left-list .el-menu-item.is-active{
	background-color: #105676!important;
}
.data-left-list .el-submenu__title:focus,.data-left-list .el-submenu__title:hover{
	background-color: #105676!important;
}
.botanyTable {
		margin-top: 20px;
	}
/* 数据管理共有样式 */
.dataManagementCon{
	margin-top: 20px;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0px 5px rgb(0 0 0 / 20%);
}
.data-list{
	text-align: right;
	position: relative;
}
.data-search{
	width: 350px;
	position: absolute;
	top:0;left:0;
}

.dialogDetail{
		max-height: 500px;
		overflow: auto;
	}
/* 数据检索下载列表 */
.tableMain .el-table th.el-table__cell>.cell,.tableMain .el-table .cell{
	padding: 0!important;
	
}
.tableMain .el-table th.el-table__cell,.tableMain .el-table tr{
	background-color: rgba(23, 49, 71, 1)!important;
	color:#fff!important;
}
.tableMain .el-table .el-table__cell{padding: 0!important;}
.tableMain .el-table--striped .el-table__body tr.el-table__row--striped td.el-table__cell{
	
	background:rgba(23, 49, 71, 1)!important ;
}
/* 去掉默认的table hover效果 */
.tableMain .el-table__body .el-table__row.hover-row td {
    background-color: rgba(0, 0, 0,0.3) !important;
  }
  
/* 修改菜单默认样式 */
.dataSearchMenu .el-menu.el-menu--horizontal{
	border:0;
}
.dataSearchMenu .el-menu{
	background-color: transparent!important;
}
.dataSearchMenu  .el-submenu{
	padding-left:10px !important;
	border-radius: 20px!important;
}
.dataSearchMenu .el-menu--horizontal>.el-submenu .el-submenu__title{
	height:40px;
	line-height: 40px;
	border-radius: 20px!important;
	margin-top: 10px;
}
.timeSearch .el-checkbox{
	display: block;
	color: #fff!important;
}
.timeSearch .el-tree{
	background: transparent!important;
	color:#fff;
}

.timeSearch .el-upload{
	text-align: left;
}
/* 修改树形结构的hover效果 */
.timeSearch .el-tree-node:focus > .el-tree-node__content {    background-color: rgba(0, 0, 0,0.2)!important;  }  
.timeSearch .el-tree-node__content:hover {    background-color:   rgba(0, 0, 0,0.2);  }  
.timeSearch .el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {    
	background-color:   rgba(0, 0, 0,0.2);  
}
/* 修改tabs原始样式 */
.timeSearch .el-tabs__item{
	color:#fff;
}
/* change form */
.timeSearch  .el-form-item{
	margin-bottom: 5px;
}
.timeSearch  .el-form-item__label{
	color:#fff;
}
.jingweidu .el-input__inner{
	color:#fff;
	background-color: transparent;
}
.jingweidu .el-input--suffix .el-input__inner{
	padding-right: 10px;
}
.guoneiwai  .el-input__inner{
	background-color: transparent!important;
	color:#fff!important;
}

.searchBtn .el-button{
	background-color:rgb(21, 44, 64)!important;
	color:#fff!important;
	border:0px;
	border-radius:20px;
}

